numpy==1.24.3
tensorflow==2.13.1
keras==2.13.1
scikit-learn==1.3.2
opencv-contrib-python==4.8.1.78
mediapipe==0.10.9
matplotlib==3.8.2
pandas==2.0.3
h5py==3.9.0
Flask==3.0.2
protobuf==3.20.3
tables==3.9.2
gTTS==2.5.1
pygame==2.5.2
PyQt5==5.15.9